body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./pattern.jpg);
    background-repeat: repeat;
    margin: 20px 0;
    padding: 0;
}

.main {
    background-color: white;
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 6px -6px #777;
}