body {
    font-family: Arial, Helvetica, sans-serif;
}

article {
    border: 1px solid gray;
}

article.hidden {
    background-color: #ddd;
}

article.remove {
    background-color: #999;
}

article.hidden h1 {
    visibility: hidden;
}

article.remove h1 {
    display: none;
}

