ul, ol {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

li {
    list-style-position: inside;
}

ol {
    list-style: decimal-leading-zero;
}

ul {
    list-style: square;
}

.decorated {
    list-style-image: url(./snow.png);
    font-size: 30px;
}
