body {
    border: 1px solid black;
}

div {
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
}

span {
    border: 1px solid orange;
    padding: 10px;
    margin: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.box {
    width: 300px;
    height: 100px;
}

.min {
    width: 100px;
    height: 10px;
}

.max {
    width: 200px;
    height: 40px;
}

.center {
    width: 300px;
    margin: auto;
}

.inline-center {
    text-align: center;
}


