body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #252525;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

.main {
    background: white url(./pattern.png) repeat-x left bottom;
    padding: 50px;
    padding-bottom: 300px;
}